.gradient {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
};

.gradient_for_chat {
    background: rgb(6,6,6);
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(6,6,6,0.65) 50%, rgba(0,0,0,0) 100%);
}

.custom_scroll::-webkit-scrollbar {
    width: 10px;
}
.custom_scroll::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
}
.custom_scroll::-webkit-scrollbar-thumb {
    background-color: #d8b5a3;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    
}

.custom_chat_scroll {
    padding-bottom: 20px;
}

.custom_chat_scroll::-webkit-scrollbar {
    width: 10px;
}
.custom_chat_scroll::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}
.custom_chat_scroll::-webkit-scrollbar-thumb {
    background-color: #d8b5a3;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    
}


.custom_input_range {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    height: 6px;
    background: transparent;
  }
  
  .custom_input_range::-webkit-slider-runnable-track {
    height: 4px;
    background: #ddd;
    border-radius: 2px;
  }
  
  .custom_input_range::-moz-range-track {
    height: 4px;
    background: #ddd;
    border-radius: 2px;
  }

  .custom_input_range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: coral;
    border-radius: 50%;
    margin-top: -8px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .custom_input_range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: coral;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .custom_input_range::-webkit-slider-thumb:hover {
    transform: scale(1.1);
  }
  
  .custom_input_range::-moz-range-thumb:hover {
    transform: scale(1.1);
  }

  .custom_input_range::-webkit-slider-container {
    height: 4px;
  }
  
  .custom_input_range::-webkit-progress-value {
    background: coral;
    border-radius: 2px;
  }
  
  .custom_input_range::-moz-range-progress {
    background: coral;
    height: 4px;
    border-radius: 2px;
  }